<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="wechat-share">
    <img src="/css/images/logo.png" />
  </div>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/top') %>
    <%- partial('_partial/footer') %>
  </body>
</html>